@{
    ViewBag.Title = "CATEGORII";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<br />

@if(TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}
<br />

@if (ViewBag.AfisareButoane)
{
<div class="align-items-center justify-content-center d-flex">
    <a class="btn btn-outline-primary" href="/Categories/New">Adauga o noua categorie</a>
</div>
}

<br />

@foreach (var category in ViewBag.Categories)
{
    <div class="div_categorie">
    
        <p class="den_categorie align-items-center justify-content-center d-flex">@category.Name</p>
    
        <p class="p_categorie">Scurta descriere: @category.Description</p>

        <div class="btn-group butoane_categorii align-items-center justify-conent-center d-flex">
            <a class="btn btn-secondary" href="/Categories/Show/@category.Id">Afisare categorie</a>

            @if (ViewBag.AfisareButoane)
            {
                <a class="btn btn-secondary" href="/Categories/Edit/@category.Id">Editare categorie</a>
            }


            <a class="btn btn-secondary" href="/Topics/Index/@category.Id">Topicuri categorie</a>

            <br />
            <hr />
            <br />
        </div>
    </div>
}
<br />
