@model CollectiveKnowledgePlatform.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}
<h4 class="align-items-center justify-content-center d-flex">@ViewBag.Title</h4>

<br />

<p class="show_numeCategorie align-items-center justify-content-center d-flex">@Model.Name</p>
<p class="show_descriereCategorie align-items-center justify-content-center d-flex">@Model.Description</p>

<div class="align-items-center justify-content-center d-flex">
    <div class="btn-group" role="group">
        <form method="post" action="/Categories/Delete/@Model.Id">
            @if(ViewBag.AfisareButoane)
            {
                <button class="btn btn-danger" type="submit">Sterge categoria</button> 
            }
        </form>
        <br />
        <a class="btn btn-secondary" href="/Categories/Index/">Afisare lista categorii</a>
    </div>
</div>

<br />
<hr />
<br />

