html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.den_categorie{
    padding:10px;
    font-size:3vh;
}

.butoane_categorii{
    margin:auto;
    width:50%;  
    padding-bottom:1vh;
    border-bottom: 1px solid grey;
}

.p_categorie{
    margin:auto;
    width:50%; 
    padding-bottom:1vh;

}

.div_categorie{
    margin-left:0.5vw;
    margin-bottom:1vh;
    padding-bottom:0.4vh;
}

.show_numeCategorie{
    font-size:4vh;
}
.show_descriereCategorie{
    font-size:3vh;
}

.show_topic_text{
    font-size:2vh;
    padding-bottom: 2vh;
    margin-bottom: 10vh;
    border-bottom: 0.16rem solid green;
}

.button_homepage{
    font-size:1.7vw;
}